.dashboard{
    
    height: 100;
    padding: 2px 40px;
}
.dashboard-title{
    text-align: center;
    font-weight: 700;
    color: rgb(60, 18, 99);
    font-size: 1.5rem;
}

.dashboard-layout{
    display:flex;
    align-items:flex-start;
    
}

