.dashboard-routes{
    width: 75%;
    border-left: 1px solid burlywood;
}
.menu-link-list{
    text-align: center;
    
}

.menu-link{
    text-decoration: none;
    color: rgb(46, 40, 40);
    padding: 0 15px;
    font-weight: 600;
}

.todo-content{
    padding: 20px 150px;
}

#active{
    font-weight: bolder;
    color: rgb(185, 185, 8);
}

.search-input{
    padding: 5px;
    margin-right: 20px;
    font-size: 1rem;
    border: .5px solid wheat;
    background-color: rgb(236, 230, 223);
    border-radius: 20px;
}

.btn-container{
    text-align: right;
    margin-right: 50px;
}

.btn-container>.gen-btn{
    display: inline-block;
}